body {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffee00;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid cornflowerblue;
    margin: auto;

}

#container h1 {
    font-size: 20px;
    text-align: center;
}